{% extends 'vencimento/base.html' %}
{% load crispy_forms_tags %}

{% block extra_css %}
<style>
    .select2-container--default .select2-selection--single {
        background-color: #fff; /* Fundo branco */
        border: 1px solid #aaa; /* Borda mais visível */
        border-radius: 4px; /* Arredondamento da borda */
    }
    .select2-dropdown {
        background-color: #fff; /* Fundo branco para o dropdown */
        border: 1px solid #aaa; /* Borda do dropdown */
    }
</style>

{% endblock %}

{% block content %}
    <h2>Adicionar Novo Lote</h2>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Adicionar Lote</button>
    </form>
{% endblock %}

{% block javascript %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2/dist/js/select2.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2/dist/css/select2.min.css" rel="stylesheet" />
<script>
    $(document).ready(function() {
        $('.select2').select2({
            placeholder: 'Selecione um produto',
            allowClear: true
        });
    });
</script>
{% endblock %}
