
{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sistema de Controle de Vencimento{% endblock %}</title>
    
    <!-- Incluir Bootstrap para um layout responsivo e estilizado -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="{% static 'vencimento/css/base.css' %}"
    type"text/css"/>

    <link rel="stylesheet" href="{% static 'vencimento/css/agrupamento.css' %}"
    type"text/css"/>
    
    
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'lista_lotes' %}">Controle de Vencimento</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'lista_lotes' %}">Início <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'adicionar_lote' %}">Adicionar Lote</a>
                    </li>
                    {% if user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin:index' %}">Administrar</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a href="#" class="nav-link" onclick="document.getElementById('logout-form').submit(); return false;">Sair</a>
                        <form action="{% url 'logout' %}" method="post" id="logout-form" class="d-none">
                            {% csrf_token %}
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    

    <main role="main" class="container">
        <div class="starter-template">
            {% block content %}
            <!-- O conteúdo específico da página será inserido aqui -->
            {% endblock %}
        </div>
    </main><!-- /.container -->

    <!-- Scripts do Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
