
<!-- templates/controle_vencimentos/lista_lotes.html -->

<style>
  
  .status-indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: middle;
  }
  
  .status-indicator.valido {
    background-color: green;
  }
  
  .status-indicator.vencido {
    background-color: black;
  }

  .status-indicator.proximo-vencimento {
    background-color: yellow;
  }

  .status-indicator.urgente {
    background-color: red;
  }

  .chart-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .chart {
    flex: 1;
    height: 40vh;
    
  }

  
  .nome-produto {
    display: inline-block;
    margin-left: 10px;
  }


  
</style>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://d3js.org/d3.v7.min.js"></script>



{% extends 'vencimento/base.html' %}
{% load static %}



{% block content %}
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

<h2>Lista de Lotes</h2>
<a href="{% url 'vencimento:exportar_lotes_excel' %}" class="btn btn-primary" style="margin-bottom: 10px;">Exportar Lotes para Excel</a>
<!-- Formulário de busca atualizado com agrupamento -->
<form method="get" action="{% url 'vencimento:lista_lotes' %}" class="form-busca">

  
  
  <div class="chart-container">
      <div class="chart">
          <canvas id="categoriaChart"></canvas>
      </div>
      <div class="chart">
          <canvas id="statusChart"></canvas>
      </div>
  </div>
  <div style="display: flex;">
    <div class="campo-categoria">
      <label for="categoria">Categoria</label>
      <select name="categoria">
        <option value="">Todas Categorias</option>
        {% for categoria in categorias %}
        <option value="{{ categoria.id }}">{{ categoria.nome }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="campo-casa">
      <label for="casa_destinada">Casa Destinada</label>
      <select name="casa_destinada">
        <option value="">Todas as Casas</option>
        {% for casa in casas %}
        <option value="{{ casa.id }}">{{ casa.nome }}</option>
        {% endfor %}
      </select>
      
    </div>

    <div class="campo-status">
      <label for="status">Status</label>
      <select name="status">
        <option value="">Todos</option>
        <option value="valido">Válido</option>
        <option value="proximo">Próximo do Vencimento</option>
        <option value="urgente">Urgente</option>
        <option value="vencido">Vencido</option>
      </select>
    </div>
  </div>
  <div class="grupo-datas">
    <div class="data-chegada">
      <label for="chegada_de">Data de Chegada: De</label>
      <input type="date" name="chegada_de">
      
      <label for="chegada_ate">Até</label>
      <input type="date" name="chegada_ate">
    </div>

    <div class="data-validade">
      <label for="validade_de">Data de Validade: De</label>
      <input type="date" name="validade_de">
      
      <label for="validade_ate">Até</label>
      <input type="date" name="validade_ate">
    </div>
    <button type="submit">Filtrar</button>
  </div>
  
</form>

<table>
  <thead>
    <tr>
      <th>Produto</th>
      <th>Identificação</th>
      <th>Categoria</th>
      <th>Quantidade Disponível</th>
      <th>Data de Chegada</th>
      <th>Data de Validade</th>
      <th>Casa</th>
      <th>Status</th>
      <th>Ação</th>
    </tr>
  </thead>
  <tbody>
    {% for lote in lotes %}
    <tr class="{% if lote.esta_vencido %}vencido{% elif lote.esta_urgente %}urgente{% endif %}">
      <td style="display: flex; align-items: center;">
        <button type="button" onclick="confirmarExclusao('{{ lote.id }}', event)" class="btn btn-danger btn-sm" style="margin-right: 10px;">X</button>
        <span class="nome-produto">{{ lote.produto.nome }}</span>
      </td>
      
      <td>{{ lote.identificacao|upper }}</td>
      <td>{{ lote.categoria.nome }}</td>
      <td>{{ lote.quantidade }}</td>
      <td>{{ lote.data_chegada }}</td>
      <td>{{ lote.data_validade }}</td>
      <td>{{ lote.casa_destinada.nome }}</td>
      <td>
        <span class="status-indicator
                     {% if lote.esta_vencido %}vencido
                     {% elif lote.esta_urgente %}urgente
                     {% elif lote.esta_proximo_vencimento %}proximo-vencimento
                     {% else %}valido
                     {% endif %}">
        </span>
        {% if lote.esta_vencido %}Vencido
        {% elif lote.esta_urgente %}Urgente
        {% elif lote.esta_proximo_vencimento %}Próximo do Vencimento
        {% else %}Válido
        {% endif %}
      </td>
      <td>
        <form method="post" action="{% url 'vencimento:registrar_saida' %}">
          {% csrf_token %}
          <input type="hidden" name="lote_id" value="{{ lote.id }}">
          <input type="number" name="quantidade_a_retirar" style="margin-bottom: 10px; width: 80px;" class="input-quantidade" min="1" max="{{ lote.quantidade }}" required>
          <button type="submit" class="btn btn-primary btn-sm">Registrar Saída</button>
      </form>
      </td>
    </tr>
    {% endfor %}
    <div id="categoriaData" style="display:none;">{{ categoria_data }}</div>
    <div id="statusData" style="display:none;">{{ status_data|json_script:"statusData" }}</div>  
   <form class="form-busca">
    <div class="campo-busca">
      <input type="text" name="q" placeholder="Buscar produto ou identificação...">
      <button type="submit">Buscar</button>
    </div>
    </form>

  </tbody>
</table>
<script>
  
  function confirmarExclusao(loteId, event) {
    event.preventDefault();
    if (confirm('Tem certeza que deseja excluir este lote?')) {
        fetch('deletar_lote/', { // URL corrigida
            method: 'POST',
            headers: {
                'Content-Type': 'application/json', // Definir o Content-Type como json
                'X-CSRFToken': getCookie('csrftoken'), // Função para obter o token CSRF do cookie
            },
            body: JSON.stringify({ lote_id: loteId }) // Enviar lote_id no corpo
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                alert('Lote deletado com sucesso!');
                location.reload(); // Recarrega a página para atualizar a lista
            } else {
                alert('Erro ao deletar lote: ' + data.error);
            }
        })
        .catch(error => {
            console.error('Erro na requisição:', error);
            alert('Erro ao deletar lote.');
        });
    }
}


// Função para obter o valor do cookie CSRF do Django
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

    



document.addEventListener('DOMContentLoaded', function () {
  const categoriaData = JSON.parse(document.getElementById('categoriaData').textContent || '[]');
  const rawData = JSON.parse(document.getElementById('statusData').textContent);

  const ctx1 = document.getElementById('categoriaChart').getContext('2d');
  const categoriaChart = new Chart(ctx1, {
      type: 'pie',
      data: {
          labels: categoriaData.map(data => data[0]),
          datasets: [{
              label: 'Quantidade por Categoria',
              data: categoriaData.map(data => data[1]),
              backgroundColor: [
                  '#bcb9d6',
                  '#9e9c9b',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)'
              ],
              borderColor: [
                  '#9b97c2',
                  '#8c8988',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 1
          }]
      },
      options: {
          responsive: true,
          maintainAspectRatio: false,
          plugins: {
              legend: {
                  position: 'top',
              },
              tooltip: {
                  callbacks: {
                      label: function(tooltipItem) {
                          let sum = 0;
                          let dataArr = tooltipItem.dataset.data;
                          dataArr.map(data => {
                              sum += Number(data);
                          });
                          let percentage = (tooltipItem.raw * 100 / sum).toFixed(2) + "%";
                          return tooltipItem.label + ': ' + tooltipItem.raw + ' (' + percentage + ')';
                      }
                  }
              },
              title: {
                  display: true,
                  text: 'Distribuição de Lotes por Categoria'
              }
          }
      }
  });

  function prepareChartData(data) {
      return {
          labels: data.map(item => item[0]),
          datasets: [{
              label: 'Quantidade por Status',
              data: data.map(item => item[1]),
              backgroundColor: [
                  '#70b67c',
                  '#ff7b5a',
                  '#ffff7a',
                  '#404041'
              ],
              borderColor: [
                  '#31aa56',
                  '#ff5232',
                  '#ffd700',
                  '202122'
              ],
              borderWidth: 1
          }]
      };
  }

  const chartData = prepareChartData(rawData);

  const ctx = document.getElementById('statusChart').getContext('2d');
  const statusChart = new Chart(ctx, {
      type: 'pie',
      data: chartData,
      options: {
          responsive: true,
          maintainAspectRatio: false,
          plugins: {
              legend: {
                  position: 'top',
              },
              tooltip: {
                  callbacks: {
                      label: function(tooltipItem) {
                          let sum = 0;
                          let dataArr = tooltipItem.dataset.data;
                          dataArr.map(data => {
                              sum += Number(data);
                          });
                          let percentage = (tooltipItem.raw * 100 / sum).toFixed(2) + "%";
                          return tooltipItem.label + ': ' + tooltipItem.raw + ' (' + percentage + ')';
                      }
                  }
              },
              title: {
                  display: true,
                  text: 'Distribuição de Lotes por Status'
              }
          }
      }
  });
});

</script>



{% endblock %}

